.game-wrapper {
    display: grid;
    justify-items: center;
}

.game-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1vh;
    place-items: center;
    margin: 10px;
    font-size: 22px
}

.button {
    background-color: black;
    border: none;
    font-size: 19px;
    color: #FFFFFF;
    padding: 5px;
    width: 100px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    margin: 30px;
  }

body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,69,161,1) 47%, rgba(252,176,69,1) 100%);
}